# auto-install-peers is needed here to help with issue with ts-node and pnpm to prevent warnings with missing peer dependencies
auto-install-peers=true
hoist=false
use-node-version=16.13.2
public-hoist-pattern[]=webdriverio
public-hoist-pattern[]=@wdio/cli
